/* Стили для верхней части сайта  где лого с глобусом*/
#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #313131, #6b6b6b);
  padding: 10px 20px;
  border-bottom: 1px solid #a2a2a2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #8a8a8a;
}

/* контур глубуса*/
#top img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(0, 26, 255);
}

/* цвет Фамилии */
#top p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin: 0;
}

/* Стили для навигации */
.navbar {
  background: #ff0000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(253, 0, 0, 0.1);
}
/* цвет Главная */
.navbar-brand {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

.navbar-brand:hover {
  color: #7e7171;
}

.navbar-nav .nav-link {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: rgb(161, 160, 160);
  background-color: #000000;
  border-radius: 4px;
}

.navbar-nav .dropdown-menu {
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav .dropdown-menu a {
  font-size: 14px;
  color: #333;
}

.navbar-nav .dropdown-menu a:hover {
  background-color: #8a8a8a;
  color: rgb(255, 0, 0);
}
